<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>CareXchange</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/png" href="app/images/favicon.ico"/>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
  </head>
  <body>
    <div class="container not-found-error clearfix" style="text-align: center;">
    	<p> The page you're looking for could not be found </p>
    </div> <!-- end container -->
  </body>
</html>
