<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>CareXchange</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/png" href="app/images/favicon.ico"/>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
  </head>
  <body>
    <div class="container clearfix" style="width: 500px;">
      <div class="controls" style="border: none; width: 100%;">
          <a href="/logout" class="logout-btn" style="width: auto; padding: 13px; font-size: 12px;">Logout</a>
      </div>

      <div class="team" style="width: 100%;">
        <div class="team-header clearfix">
          <div class="team-about">
            <div class="team-title">Teams</div>
            <div class="team-num-teams"><%= teams.length %> Team(s)</div>
          </div>
          <i class="fa fa-th-list"></i>
        </div> <!-- end team-header -->
        
        <div class="team-create clearfix" style="border-bottom: 2px solid white;">
          <input type="text" name="title" autofocus placeholder ="Type a new team">
          <button>Create</button>
        </div> <!-- end team-create -->

        <div class="team-list">
          <ul>
            <% if(teams.length > 0) { %>
              <% teams.forEach(function(team) { %>
                  <a href="/#/team/<%= team.id %>">
                    <li class="team-item"><%= (team.title.length > 25? team.title.substr(0, 25) + '...': team.title) %></li>
                  </a>
                <% }); %>
            <% } else { %>
              <p class="message" style="text-align: center; padding: 0; margin: 0;">Create your first team!</p>
            <% } %>
          </ul>
        </div> <!-- end team-list -->
      </div> <!-- end team -->

    </div> <!-- end container -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    <script>$(function(){app.teams()});</script>
  </body>
</html>
